.room-container {
  min-height: 100vh;
  .video-wrapper {
    width: 100%;
    height: 100%;
    #video-container {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      transform: scale(-1, 1);
      z-index: 1;
    }
  
    #video-mini {
      z-index: 2;
      position: absolute;
      right: 10px;
      bottom: 10px;
      border: solid 1px #ddd;
      max-height: 25%;
    }
  }
  .action-buttons {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    .button-item:not(:last-child) {
      margin-right: 15px;
    }
    .button-item {
      opacity: 0.75;
      transition: opacity 250ms;
      i {
        font-size: 20px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}