<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC Demo - Realtime Peer To Peer Communication</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:url" content="https://webrtc.jamesisme.com/">
        <meta property="og:site_name" content="WebRTC Demo - Realtime peer to peer communication">
        <meta name="keywords" content="WebRTC, Realtime, peer to peer, communication">
        <meta property="og:title" content="WebRTC Demo - Realtime peer to peer communication">
        <meta property="og:type" content="article">
        <meta property="og:description" content="WebRTC Demo - Realtime peer to peer communication">
        <meta property="og:image" content="/images/favicons/apple-touch-icon-180x180.png">
        <meta name="description" content="WebRTC Demo - Realtime peer to peer communication">
        <link rel="canonical" href="/">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="/css/all.min.css">
        <style>
          body {
            font-family: 'Roboto', sans-serif;
          }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <% chunksList.forEach(function(chunk) { %>
          <script src="/js/<%= chunk %>"></script>
        <% }); %>
    </body>
</html>